@font-face {
    font-family: 'Black';
    src: url(../../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Extrabold';
    src: url(../../assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Light';
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Regular';
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Semibold';
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Thin';
    src: url(../../assets/fonts/Montserrat-Thin.ttf);
}